@model IEnumerable<mymvc.Models.Person>

 <div class="container mt-3">
  <h2>DO HUU HOANG Home page</h2>
  <p>The .table-sm class makes the table smaller by cutting cell padding in half:</p>
  <div style="display: flex;">
    <a style="margin-right: 5px;" type="button" asp-action="Create" class="btn btn-primary">Create </a>
    <a type="button" asp-controller="Home" asp-action="Index" class="btn btn-danger">Back home</a>
  </div>
  <div class="mypagebutton"></div>
  <table style="text-align:center;" class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>@Html.DisplayNameFor(model => model.PersonId)</th>
        <th>@Html.DisplayNameFor(model => model.FullName)</th>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
        <th>@Html.DisplayNameFor(model => model.Country)</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
          <td>@Html.DisplayFor(modelItem => item.PersonId)</td>
          <td>@Html.DisplayFor(modelItem => item.FullName)</td>
          <td>@Html.DisplayFor(modelItem => item.Address)</td>
          <td>@Html.DisplayFor(modelItem => item.Country)</td>
          <td>
            <a asp-action="Edit" asp-route-id="@item.PersonId" class="btn btn-primary">Edit</a>
            <a asp-action="Delete" asp-route-id="@item.PersonId" class="btn btn-danger">Delete</a>
          </td>
        </tr>
    }
    </tbody>
  </table>
</div>